.btn {
    height: 100%;
    font-size: em(18);
    font-weight: 500;
    letter-spacing: -.02em;
    transition: all .15s ease;
    cursor: pointer;
    z-index: 99;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

.btn-lg {
    @include button-size(10px 0, 10px 0, em(18, 18), 1, 0);
    width: 125px;
}

.btn-sm {
    @include button-size(0, 0, em(18, 18), 1, 0);
    min-width: 55px;
    height: 45px;
}

.btn-xs {
    @include button-size(0, 0, em(18, 18), 1, 0);
    min-width: 55px;
    height: 35px;
}