//Main theme colors
$secondary-color: #fff;
$dark: #000;

$ui-colors: (
    transparent: transparent
);

//Fonts colors
$color-secondary: $secondary-color !default;
$color-inverse: $dark !default;

$default-text-color: $dark;

//Background classes
@each $color, $value in $ui-colors {

    .bg-#{$color} {
        background: $value;

        &:focus {
            background: $value;
        }
    }
}

//Buttons variants
@each $color, $value in $ui-colors {

    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

//Font color classes
@each $color, $value in $ui-colors {

    .color-#{$color} {
        color: $value;
    }
}
