//Fonts routes
$path-fonts: '/fonts/';
$path-images: '/images/';

//fonts
$digital: 'Digital';

$default-font-family: $digital, sans-serif;

$default-font-size: 16px;
$default-font-weight: 400;
$default-line-height: 1;

//Pics
$calculator: url($path-images + 'calc-bg.png');

//Container
$containerOffsetX: 35px;
$containerOffsetXTablet: 25px;
$containerOffsetXMobile: 15px;
$containerWidth: 1180px;

//Extend
%pseudos {
    position: absolute;
    display: block;
    content: '';
}

%marginCenter {
    margin: 0 auto;
    left: 0;
    right: 0;
}

%absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%absCenterY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%absCenterX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
